<div class="row">
  <div class="col-sm-12">
    <h2 style="text-align:center;"> Q&A Hunt</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <a type="button" class="btn btn-info" [routerLink]="['makequestion']">Makequestion</a>
  </div>
  <div class="col-sm-6">
    <a type="button" class="btn btn-info" [routerLink]="['listcomponent']">Listquestion</a>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>